body {
    background-color: #f0ecf3 !important;
}

.layout {
    height: 100vh;
    padding: 10px 15px;
}

.navv {
    border-radius: 10px;
    box-shadow: 0 0 4px black;
    padding: 5px;
}

.point {
    cursor: pointer;
}

.headerc {
    height: 10%;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.content {
    border-radius: 7px;
    /* border: 1px solid gray; */
    margin-top: 20px;
    box-shadow: 0 0 4px black;
    padding: 10px;
}